---
Checks: >
    clang-diagnostic-*,
    clang-analyzer-*,
    modernize-*,
    -modernize-use-trailing-return-type,
    performance-*,
    readability-*,
    bugprone-*,
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*'
FormatStyle: file
CheckOptions:
    readability-function-cognitive-complexity.Threshold: 20
...
